<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333993244365-9ubndeecsinrpsj7n58r2cjldid04nlu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333993244365-9ubndeecsinrpsj7n58r2cjldid04nlu</string>
	<key>API_KEY</key>
	<string>AIzaSyC4mgdZo0Px1834yWKiTgJqro0RjnUe2nA</string>
	<key>GCM_SENDER_ID</key>
	<string>333993244365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Tastii</string>
	<key>PROJECT_ID</key>
	<string>tastii-5e804</string>
	<key>STORAGE_BUCKET</key>
	<string>tastii-5e804.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333993244365:ios:1ca481dd03898eab1f9b84</string>
</dict>
</plist>